<h1>Order a shoe from Shoo</h1>
<form action = '/shoe' method = 'post'>
  <fieldset>
  <legend>Your Details</legend>
    <label>First name:</label>
    <input type="text" name="first_name">

    <label>Last name:</label>
    <input type="text" name="last_name">

    <label>First line of your address:</label>
    <input type="text" name="first_address_line">

    <label>City:</label>
    <input type="text" name="city">

    <label>Postcode:</label> 
    <input type="text" name="postcode">
  </fieldset>

  <fieldset>
  <legend>Your Order</legend>
    <label>Quantity:</label>
    <input type="number" name="quantity">

    <label>Size</label>
    <select name="size">
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
    </select>
  </fieldset>












</form>