<h1>Your Order Summary</h1>
<div class="summary_box">
  <h3>Name:</h3>
  <%= @shoe_order.full_name %>
</div>
<div class="summary_box">
  <h3>Delivery Address:</h3>
  <%= @shoe_order.address %>
</div>
<div class="summary_box">
  <h3>Quantity:</h3>
  <%= @shoe_order.quantity %>
  </div>
<div class="summary_box">
  <h3>Size:</h3>
  <%= @shoe_order.size %>
</div>
