body{
    font-family: 'Nunito', sans-serif;
    background-color:#2f292b;
}
header{
  color:white;
  font-size:5vw;
}
div{
  position:relative;
  border-radius:5px;
  left:35%;
  background-color:#dddddd;
  width:30%;
  padding:5px;
  text-align:center;
}

fieldset{
  margin-bottom:30px;
  border-radius:5px;
  border:2px solid #f45844;
}

legend{
  font-size:20px;
}

label{
  display:block;
}

input{
  margin-bottom:20px;
  height:18px;
  font-size:18px;
  border-radius:5px;
}
button{
  height:60px;
  width:120px;
  background-color:#f45844;
  border-radius:5px;
  border:none;
  margin-bottom:10px;
  font-size:20px;
  -webkit-transition: all 1s ease;
}

button:hover{
  box-shadow:0px 0px 10px 3px rgba(0,0,0, 0.5);
}

button:active{
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5) inset;
  outline:none;
}